<mat-toolbar color="primar">
    <span class="textoBlanco">Lidex</span>
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect" [ngStyle]="{color: 'white'}">{{item.nombre}}</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="textoBlanco">logout</mat-icon>
    </button>
  </mat-toolbar>
