<div class="container">
  <mat-toolbar>
    <span>Usuarios</span>
    <div class="example-spacer"></div>
    <button (click)="agregarUsuario()" mat-raised-button color="primary">
      Agregar
    </button>
  </mat-toolbar>
  <div class="espacioFiltro" *ngIf="listUsuarios.length > 0">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder=""
        #input
        autocomplete="off"
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID -->
        <ng-container matColumnDef="idUsuario">
          <th class="anchoId" mat-header-cell *matHeaderCellDef mat-sort-header>
            ID
          </th>
          <td class="anchoId" mat-cell *matCellDef="let element">
            {{ element.idUsuario }}
          </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- Apellido -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>

        <!-- Correo -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>

        <!-- Rol -->
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
          <td mat-cell *matCellDef="let element">{{ element.rol }}</td>
        </ng-container>

        <!-- Fecha Nacimiento -->
        <ng-container matColumnDef="fnacimiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            F. Nacimiento
          </th>
          <td mat-cell *matCellDef="let element">{{ element.fnacimiento }}</td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span
              [ngClass]="{
                'text-success': element.estado,
                'text-danger': !element.estado
              }"
            >
              {{ element.estado ? "Activo" : "Inactivo" }}
            </span>
          </td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element" style="text-align: left">
            <a
              class="pointer"
              (click)="editarUsuario(element)"
              style="color: #f29518"
              matTooltip="Editar usuario"
            >
              <mat-icon>edit</mat-icon>
            </a>
            <a
              class="pointer"
              (click)="eliminarUsuario(element.idUsuario)"
              style="color: #fa0b1d"
              matTooltip="Eliminar usuario"
            >
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
  <h2 *ngIf="listUsuarios.length == 0">No hay usuarios para mostrar</h2>
</div>
